@using NovelProject.AlterModels
@model PartOneAndAllModel

<form asp-action="CreatePart" method="post">
    <h3>Part Name</h3>
    <input asp-for="Parts.name" class="form-control" />
    <label>Start Part Text</label>
    <input asp-for="Parts.start_part_text" class="form-control" />
    <label>End Part Text</label>
    <input asp-for="Parts.end_part_text" class="form-control" />

    <hr />
    <button type="submit">Зберегти</button>
    <br />
    <hr />
</form>
<form asp-action="DetailPart" method="get">
    <h3>Змінити part</h3>
    <select name="id" class="form-control">
        @foreach (var part in Model.AllParts)
        {
            <option value="@part.id">@part.name</option>
        }
    </select>
    <button type="submit">Деталі парта</button>
</form>

